:host {
  display: block;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.item {
  border: 1px solid yellowgreen;
  background: greenyellow;
  line-height: 50%;
  /*min-width: 240px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-span {
  font-size: 2rem;
  font-weight: bold;
}
