<div #gridElem
      *ngFor="let item of gridElements"
      [style.left.px]="item.left"
      [style.top.px]="item.top"
      [style.width.px]="item.width"
      [style.height.px]="item.height"
      (mousedown)="dragStartHandler($event, item, gridElem)"
      class="item">
  <div class="item__toolbar"></div>
  <div class="item__content">
    <span class="item__text">{{item.id}}</span>
  </div>
  <div (mousedown)="mouseDownHandler($event, item, gridElem)" class="item__resize-area"></div>
</div>

